{
  "pid": "com.tibco.bw.stat.appnode.ca70e542-31a8-4b82-a6c0-bc56258602b6",
  "properties": {
    "name": {
      "name": "name",
      "value": "Main",
      "type": "java.lang.String"
    },
    "service.factoryPid": {
      "name": "service.factoryPid",
      "value": "com.tibco.bw.stat.appnode",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "com.tibco.bw.stat.appnode.ca70e542-31a8-4b82-a6c0-bc56258602b6",
      "type": "java.lang.String"
    }
  }
}